<table class="report-title" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<b> {{ _("Hi")}} {{ customer }},</b>
		</td>
	</tr>
	<tr>
		<td>
			<p>{{ _("Your payment was successful. Thank you for subscribing!") }}</p>
            <p>{{ _("You’ll receive a separate email shortly with your invitation to join the website. In the website, you can manage your subscriptions and account. You can change your subscription payment method or your plan, and update your login credentials.") }}</p>
		</td>
	</tr>
</table>