<style>
  th {
    vertical-align: top !important;
  }
    .accordion .card {
      border: none;
      border-radius: 0;
    }

    .accordion .card-header {
      background-color: transparent;
      border-bottom: none;
      padding: 0;
    }

	.accordion .card-body {
      background-color: rgba(128, 128, 128, 0.05);
      padding: 0.5rem;
    }

    .accordion .btn-link {
      color: #333;
      text-decoration: none;
      font-weight: normal;
      display: block;
      text-align: left;
      padding: 0;
    }

    .accordion .btn-link:hover, 
	.accordion .btn-link:active {
      text-decoration: underline !important;
	  background-color: transparent !important;
	  box-shadow: none !important;
	  stroke: 0 !important;
	  border: 0 !important;
    }

    .accordion .collapse.show {
      border-top: none;
    }
</style>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr style="padding-bottom: 5px">
		<td>
			<p>
				<b> Employee </b><br/>
				{{ employee }}
			</p>
			<p>
				<b> Company </b><br/>
				{{ company }}
			</p>
		</td>
		<td>
			<p>
				<b> Base </b><br/>
				{{ frappe.utils.fmt_money(base) }}
			</p>
			<p>
				<b> Payroll Frequency </b><br/>
				{{ payroll_frequency}}
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<!-- For spacing -->
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<b> Start Date </b><br/>
				{{ start_date }}
			</p>
			<p>
				<b> End Date </b><br/>
				{{ end_date }}
			</p>
		</td>
		<td>
			<p>
				<b> Working Days </b><br/>
				{{ working_days }}
			</p>
			<p>
				<b> Payment Days </b><br/>
				{{ payment_days }}
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>
				<!-- For spacing -->
			</p>
		</td>
	</tr>
</table>
<table class="report-title" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="text-center">
			<b> 
				Earnings
			</b>
		</td>
	</tr>
</table>
<table class="table table-bordered text-medium my-2" cellpadding="0" cellspacing="0" border="0">
	<thead>
		<tr>
			<th> Component </th>
			<th> Amount </th>
		</tr>
	</thead>
	<tbody>
        {% for earning in earnings %}
		<tr>
			<td> 
				<div id="{{ earning['abbr'] }}-accordion" class="accordion">
					<div class="card">
					<div class="card-header p-0" id="{{ earning['abbr'] }}">
						<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ earning['abbr'] }}-content"
								aria-expanded="true" aria-controls="collapseOne">
							{{ earning['name'] }}
						</button>
						</h2>
					</div>

					<div id="{{ earning['abbr'] }}-content" class="collapse" aria-labelledby="headingOne" data-parent="#{{ earning['abbr'] }}-accordion">
						<div class="card-body">
							<div><small><b>Formula</b></small></div>
							{{ earning['formula'] }}
						</div>
					</div>
					</div>
				</div>
			</td>
			<td class="text-right"> {{ frappe.utils.fmt_money(earning['value']) }}</td>
		</tr>
        {% endfor %}
        <tr>
			<td> <b> TOTAL EARNINGS </b></td>
			<td class="text-right"> {{ frappe.utils.fmt_money(earnings_total) }}</td>
		</tr>
	</tbody>
</table>
<table class="report-title" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td class="text-center">
			<b> Deductions </b>
		</td>
	</tr>
</table>
<table class="table table-bordered text-medium my-2" cellpadding="0" cellspacing="0" border="0">
	<thead>
		<tr>
			<th> Component </th>
			<th> Amount </th>
		</tr>
	</thead>
    <tbody>
        {% for deduction in deductions %}
		<tr>
			<td> 
				<div id="{{ deduction['abbr'] }}-accordion" class="accordion">
					<div class="card">
					<div class="card-header p-0" id="{{ deduction['abbr'] }}">
						<h2 class="mb-0">
						<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ deduction['abbr'] }}-content"
								aria-expanded="true" aria-controls="collapseOne">
							{{ deduction['name'] }}
						</button>
						</h2>
					</div>

					<div id="{{ deduction['abbr'] }}-content" class="collapse" aria-labelledby="headingOne" data-parent="#{{ deduction['abbr'] }}-accordion">
						<div class="card-body">
							<div><small><b>Formula</b></small></div>
							{{ deduction['formula'] }}
						</div>
					</div>
					</div>
				</div>
			</td>
			<td class="text-right"> {{ frappe.utils.fmt_money(deduction['value']) }}</td>
		</tr>
        {% endfor %}
        <tr>
			<td> <b> TOTAL DEDUCTIONS </b></td>
			<td class="text-right">{{ frappe.utils.fmt_money(deductions_total) }}</td>
		</tr>
	</tbody>
</table>
<table class="table table-bordered text-medium" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td>
			<b> NET PAY </b>
		</td>
        <td class="text-right">
			<b> {{ frappe.utils.fmt_money(earnings_total - deductions_total) }} </b>
		</td>
	</tr>
</table>